.board {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}

img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    left: 0;
    top: 0;
}

.game {
  text-align: center;
}

h1 {
  color: white;
}
h2 {
  margin-top: -50px;
}
.piece {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.piece-outline {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
